frontend/node_modules/
frontend/public/
frontend/src/assets/
backend/__pycache__/
backend/routers/__pycache__/
backend/.env
backend/nohup.out
backend/nohup.err
frontend/nohup_react.out
frontend/nohup_react.err
frontend/save_pid.txt
frontend/.nohup_react.out
frontend/save_pid.txt
frontend/src/.nohup_react.out
frontend/.nohup_react.out
talktalk/talktalk/nohup.out
frontend/nohup.out
talktalk/talktalk/src/nohup.out
frontend/src/nohup.out
supervised-chat/backend/nohup.out
supervised-chat/backend/nohup.out
