.card__list {
    display: grid;
    gap: 1rem;
    margin: 1rem 1.5rem 1rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card__container {
    /* effet d’ombre */
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
        /* 2. shadow ring 👇 */
        0 0 0 1px hsla(230, 13%, 9%, 0.075),
        /* 3. multiple soft shadows 👇 */
        0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
        0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
        0 3.5px 6px hsla(230, 13%, 9%, 0.09);
    width: 100%;
    min-height: 240px;
    max-height: 500px;
    border-radius: 12px;
}

.card__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4.0rem;
    background-color: white;
    color: inherit;
    align-items: left;
    text-align: left;
    justify-content: left;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__footer {
    align-items: right;
    text-align: left;
    justify-content: right;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.card__title {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.2rem 0.5rem 0rem 0.5rem;
    color: var(--palette-dark-blue);
}

.card__subtitle {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0rem 0.5rem 0rem 0.5rem;
    color: var(--palette-dark-blue);
}

.card__description_title {
    font-family: var(--secondary-font);

    font-size: 0.8rem;
    line-height: 0.9rem;
    font-weight: 500;
    padding: 1.0rem 0.5rem 0.5rem 0.5rem;
    color: var(--palette-dark-blue);
}

.card__description_subtitle {
    font-family: var(--secondary-font);
    font-size: 0.5rem;
    font-weight: 500;
    text-align: left;
    padding: 0.5rem 0.5rem 1.0rem 0.5rem;
    color: var(--palette-dark-blue);
}

.card__img {
    padding: 2rem 0 2rem 0;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #4ab3ad;
}

.card__img>img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}