.card__list {
    display: grid;
    gap: 1rem;
    margin: 1rem 1.5rem 1rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card__container {
    /* effet d’ombre */
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
        /* 2. shadow ring 👇 */
        0 0 0 1px hsla(230, 13%, 9%, 0.075),
        /* 3. multiple soft shadows 👇 */
        0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
        0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
        0 3.5px 6px hsla(230, 13%, 9%, 0.09);
    width: 100%;
    min-height: 240px;
    background-color: white;
    border-radius: 12px;
}

.card__container:hover { 
    /* shadow effect on hover (whole card) */ 
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5); 
} 

.card__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.card__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4.0rem;
    background-color: white;
    color: inherit;
    align-items: left;
    text-align: left;
    justify-content: left;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__footer {
    display: flex;
    flex: 1;
    align-items: flex-end;
    text-align: left;
    justify-content: right;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px; 
}

.card__title {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.2rem 0.5rem 0rem 0.5rem;
    color: var(--palette-dark-blue);
}

.card__subtitle {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0rem 0.5rem 0rem 0.5rem;
    color: var(--palette-dark-blue);
}

.card__description_title {
    font-family: var(--primary-font);
    font-size: 0.9rem;
    line-height: 1.1rem;
    font-weight: 500;
    padding: 1.0rem 0.5rem 0.5rem 0.5rem;
    color: black;
    border: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: lightgray;
}

.card__description_icon {
    color: black;
    border: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: lightgray;
}

.card__description_subtitle {
    font-family: var(--secondary-font);
    font-size: 0.5rem;
    font-weight: 500;
    text-align: right;
    padding: 0.5rem 1.0rem 1.0rem 0.5rem;
    color: var(--palette-dark-blue);
}


.card__description_folio {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 500;
    align-items: left;
    text-align: left;
    justify-content: left;
    padding: 0.5rem 1.0rem 1.0rem 0.5rem;
    color: var(--palette-dark-blue);


}

.card__img {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden; /* Hide the overflowing of child elements */
}

.card__img>img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Transition property for smooth transformation of images 
    https://w3bits.com/css-image-hover-zoom/
    */
    transition: transform 1.9s ease;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__img:hover>img {
    /* Transforming the image when container gets hovered */
    transform: scale(1.5);
}