.language__list {
    display: grid;
    gap: 0.75rem; 

    margin-left: 1rem;
    margin-right: 1rem; 
/* 750×1334 pixels at 326ppi */
    @media only screen 
        and (width: 375px) 
        and (height: 667px) 
        and (-webkit-device-pixel-ratio: 2) { 
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            margin-left: 0rem;
            background-color: aqua;

    }

    @media (min-width: 640px) { 
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    }
    @media (min-width: 768px) { 
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
    @media (min-width: 1024px) { 
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
    @media (min-width: 1280px) { 
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    }
}

.search__language {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.language__grid {
    display: grid;
    gap: 0.75rem; 
    margin: 1rem 2.5rem 2.5rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card__container {
    /* effet d’ombre */
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
        /* 2. shadow ring 👇 */
        0 0 0 1px hsla(230, 13%, 9%, 0.075),
        /* 3. multiple soft shadows 👇 */
        0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
        0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
        0 3.5px 6px hsla(230, 13%, 9%, 0.09);
    width: 100%;
    border-radius: 12px;
    background-color: white;
}

.card__container:hover { 
    /* shadow effect on hover (whole card) */ 
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5); 
} 

.card__wrapper {
    display: flex;
    width: 100%;
}

.card__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    color: inherit;
    align-items: left;
    text-align: left;
    justify-content: left;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__footer {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
