.language__list {
    display: grid;
    gap: 0.75rem; 

    margin-left: 1rem;
    margin-right: 1rem; 
/* 750×1334 pixels at 326ppi */
    @media only screen 
        and (width: 375px) 
        and (height: 667px) 
        and (-webkit-device-pixel-ratio: 2) { 
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            margin-left: 0rem;
            background-color: aqua;

    }

    @media (min-width: 640px) { 
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    }
    @media (min-width: 768px) { 
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
    @media (min-width: 1024px) { 
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
    @media (min-width: 1280px) { 
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    }
}

.search__language {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.language__grid {
    display: grid;
    gap: 0.75rem; 
    margin: 1rem 2.5rem 2.5rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


