.card_footer{
    display: flex;
    width: 100%;
    height: 1.5rem;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.card_header{
    display: flex;
    width: 100%;
    padding: 1rem;
    height: 3.5em;
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card_container {
    margin: 1rem;
    width: 20rem;
}
