/* Generic Styles */

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  max-width: 640px;
}

.container > div {
  padding-top: 2.5rem;
  padding-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  line-height: 1.5;
  font-size: 0.9rem;
}

.component_header {
  background-color: white;
  color: hsl(218, 22%, 67%);
}
.word_notes {
  background-color: hsl(179, 62%, 43%);
  color: white;
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  align-items: center;  
  border-bottom-left-radius: 16px;
}
.word_notes p {
  width: 80%;
  margin-bottom: 1rem;
}
.word_nutri_notes {
  background-color: #4abebd;
  color: white;
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  align-items: center;
  border-bottom-right-radius: 16px;
}

.word_nutri_notes p {
  width: 80%;
  margin-bottom: 1rem;
}

.why {
  background-color: #4abebd;
  color: white;
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  align-items: center;
  border-bottom-right-radius: 16px;
}
h2 {
  color: hsl(179, 62%, 43%);
}
.component_header h3 {
  color: hsl(71, 73%, 54%);
  margin: 0 0;
}
.price {
  display: inline-block;
  margin-top: 0.7rem;
  vertical-align: middle;
  font-size: 2.4rem;
  font-weight: bold;
}
.per {
  display: inline-block;
  margin-top: 0.7rem;
  vertical-align: middle;
  padding-left: 0.8rem;
}
#sign_up {
  margin-top: 1.6rem;
  text-decoration: none;
  display: block;
  padding: 0.8rem 1.4rem;
  text-align: center;
  background-color: hsl(71, 73%, 54%);
  color: white;
  border-radius: 0.25rem;
  font-weight: bold;
}

/* Generic Styles */

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.word__popper__wrapper {
    display:flex;
    width: auto;
    height:100%;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    margin:0.75rem;
    padding: 0.25rem;
    background-color: white;
    filter: grayscale(40%);
    color: black;
    font-family : var(--secondary-font);
    font-size: 1.2em;
  }

  .word__popper__wrapper_tr {
    display:flex;
    width: auto;
    height:100%;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    margin:0rem;
    padding: 0.5rem;
    background-color: var(--blue-theme-secondary-color);
    filter: grayscale(10%);
    color: #111439;
    font-family : var(--secondary-font);
    font-size: 0.8em;
}

.word__popper__wrapper__notes {
  display:flex;
  max-width: 20rem;
  height:100%;
  text-align:justify;
  justify-content: center;
  align-items: flex-end;
  margin:0rem;
  padding: 0.5rem;
  background-color: var(--blue-theme-secondary-color);
  color: #111439;
  font-family : var(--secondary-font);
  font-size: 0.7em;  
  font-weight: 400;
}

.word__popper__wrapper__notes img {
  display:inline-block;
  padding: 20px;
  width:5rem;
}

.word__audio__wrapper {
  display:flex;
  width:auto;
  text-align:center;
  justify-content: center;
  padding-bottom: 2rem;
}

.button1 {
  background: hsl(179, 62%, 43%);
  color: white;
}

.button2 {
  background-color: #4abebd;
  color: white;
}

.button3 {
  background-color: hsl(71, 73%, 54%);
}

.button4 {
  background-color: hsl(11, 78%, 44%);
}
.word_wrapper_fr{
  max-width: 100%;
  display: flex;
  justify-content: left;
  padding: 1rem;
}

.note_wrapper_fr{
  display: flex;
  justify-content: left;
  padding: 1rem;
  background-color: var(--blue-theme-secondary-color);
}


.word_fr {
  font-size: 0.7em;
  font-weight: 800;
}

.note_fr {
  font-size: 0.7em;
  font-weight: 400;
}

@media screen and (min-width: 620px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .component-header {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
