.phrase__note__container{
    display: flex;
    flex-direction: column;
}

.phrase__note__header{
    display: flex;
    max-width: 30rem;
    font-family : var(--serif-primary-font);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    justify-content:flex-start;
    padding: 1rem;
}

.phrase__note__wrapper{
    display: flex;
    flex-direction: row;
    max-width: 35rem;
    border-radius: 0px 0px 12px 0px;
    background-color: antiquewhite;
}

.phrase__note__number {
    padding-right: 0.2rem;
    color: darkred;
    font-weight: bold;
}

.phrase__note__content{
    display: flex;
    font-family : var(--secondary-font);
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.2;
    justify-content:center;
    text-align: justify;
    border-radius: 0px;
    padding: 1rem 1rem 1rem 0.5rem;
}

.phrase__note__content__tr{
    display: flex;
    font-family : var(--secondary-font);
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.2;
    justify-content:center;
    text-align: justify;
    border-radius: 0px 0px 12px 0px;
    padding: 1rem 1rem 1rem 0.5rem;
    background-color:bisque;
}

.phrase__note__content__text {
    width:auto;
    max-width: auto;
}

.media__player {
    margin-right: 1rem;;
  }