.text__audio__wrapper{
    color:#111439;
    font-family: var(--serif-secondary-font);
    font-weight: 400;
    font-size:1.6rem;  
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  