:root {
    --transition-easing: cubic-bezier(1, 0, 0, 1);
    --mayaBlue: #59C4FF;
    --coolBlue: #009EF5;
  }

.container {
    padding: 16px;
    display: grid;
    align-content: space-between;
    background: #2c303a;;
    border-radius: 12px;
  }

.card_full {
    background: #2c303a;;
    padding: 16px;

    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 12px;
    font-size: 32px;
    box-shadow: 0 1px 26px rgba(0,0,0,.12);
}

.card{
    background: #2c303a;;
    box-shadow: 0 2px 16px rgba(0,0,0,.26);
    padding: 16px;
    border-radius: 4px;
    overflow: hidden;
    color: #e2e2e4;
    font-size: 18px;
    transition: .3s var(--transition-easing);
}

.card:hover {
    cursor: pointer;
  }

.card_header {
    background: var(--mayaBlue);
    height: 150px;
    padding: 16px;
    transition: .3s var(--transition-easing);
}

.card_full .card_header {
    background: var(--coolBlue);
    height: 24rem;
    display: grid;
  }
  
.card_body {
    font-family: var(--primary-font);
    padding: 16px;
    color: white;
    font-size:x-large;
}

.card_block {
    font-family: var(--primary-font);
    background: rgba(0, 155, 241, 0.26);
    color: white;
    font-size: medium;

    text-align: center;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 16px;
}

.card_block:hover {
  cursor: pointer;
}

.card_play_button {
    text-align: center;
    color:coral;
}