:root {
  --transition-easing: cubic-bezier(1, 0, 0, 1);
  --mayaBlue: #59C4FF;
  --coolBlue: #009EF5;
}

.container {
  margin: 5px;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-between;
  background: #2c303a;
  gap: 1em;
  border-radius: 12px;
  max-height: max-content;
}

.card_middle {
  left: 0 !important;  display: grid;
  align-content: space-between;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
  font-size: 32px;
  box-shadow: 0 1px 26px rgba(0, 0, 0, .12);
}

.card_middle:hover {
  cursor: pointer;
}

.card_border {
  display: grid;
  align-content: space-between;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
  font-size: 32px;
  box-shadow: 0 1px 26px rgba(0, 0, 0, .12);
}

.card_header {
  background: var(--mayaBlue);
  height: 100px;
  padding: 16px;
  transition: .3s var(--transition-easing);
}

.card_middle .card_header {
  background: #2c303a;
  height:100%;
  max-height:max-content;

}

.card_border .card_header {
  background: black;
  height: 32rem;
  display: grid;
}

.card_body {
  padding: 16px;
  color: white;
  font-size: x-large;
}

.card_block {
  font-family: var(--primary-font);
  background: rgba(0, 155, 241, 0.26);
  color: white;
  font-size: medium;
  text-align: center;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 6px;
  margin: 10px;
  margin-bottom: 16px;
}

.card_block:hover {
  cursor: pointer;
}

.card_stack {
  color: white;
}

.card__img {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
  background-color: #009EF5;
  /* Hide the overflowing of child elements */
}

.card__img>img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Transition property for smooth transformation of images 
  https://w3bits.com/css-image-hover-zoom/
  */
  transition: transform 1.9s ease;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
/* Style the button and place it in the middle of the container/image */

.btn_responsive {
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  font-weight: bold;

  transition: 0.6s ease;

  user-select: none;
}

.prev {
  left: 15px;
}

.next {
  right: 15px;

}

.round {
  border-radius: 50%;
  background-color: black;
}