.scene__wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
.scene__container {
  background-color: white;
  border-radius: 0.8rem;
  max-width: 64rem;
}

.scene__grid {
  display: grid;
  @media (min-width: 640px) { 
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
   }
}
.saynete__phrase__container {
  /* 1. inner glow - for dark mode 👇 */
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* 2. shadow ring 👇 */
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    /* 3. multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  background-color: var(--color-bg-alu);
  width: 100%;
  height: 100%;
  font-family : var(--secondary-font);
  /*
  max-width: 50%;
  max-height: 50%;
  aspect-ratio: 1/1;
  background-color: var(--color-bg-light);
  */
  border-radius: 12px;
}

.saynete__phrase__wrapper {
  display: flex; 
  padding: 0.75rem; 
  flex-direction: row; 
  justify-content: flex-start; 
  background-color: var(--color-bg-alu);
  align-items: center;   
}

.saynete__phrase {
  display: flex; 
  padding: 0.75rem; 
  color: black;
  font-family : var(--secondary-font);
  font-size: medium;
}


.saynete__keyword__wrapper {
  color: red;
}