.page__title {
    margin-left: 2rem;
    font-family : var(--secondary-font);
    font-size: 1.3rem;
    font-weight: 400;  
    color: var(--primary-color);
    padding: 0.2rem 0.5rem 0rem 0.5rem;
}

.page__subtitle {
    margin-left: 2rem;
    font-family : var(--secondary-font);
    font-size: 0.8rem;
    font-weight: 400;  
    color: var(--primary-color);
    padding: 0.2rem 0.5rem 0rem 0.5rem;
}