body {
    background-image: linear-gradient(to top, #fafafa 0%, #fafafa 100%);
}

.page__title {
    margin-left: 2rem;
    font-family : var(--secondary-font);
    font-size: 1.0rem;
    font-weight: 400;  
    color: var(--palette-dark-blue);
    padding: 0.2rem 0.5rem 0.5rem 0.5rem;
}

.page__subtitle {
    margin-left: 2rem;
    font-family : var(--secondary-font);
    font-size: 0.8rem;
    font-weight: 400;  
    color: var(--primary-color);
    padding: 0.2rem 0.5rem 0rem 0.5rem;
}