.svg_icons {
    display:flex;
    width: auto;
    text-align: center;
    justify-content: center;
    transform: scale(1.8);
}

.know__more {
    display: flex;
    color: blue;
    font-family : var(--secondary-font);
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 3rem;
}