.button {
    font: inherit;
    border: 1px solid #069bb1;
    background: #3dc018;
    color: white;
    padding: 0.25rem 1rem;
    margin: 1.25rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #d9298a;
  }
  
  .button:focus {
    outline: none;
  }
  