.volume_up_fr {
    display:flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.1);
    color: var(--text-fr-color);
    margin: 1rem;
}

.volume_up_tr {
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transform: scale(1.1);
    color: darkgray;
    margin-top: 1rem;
    margin-left: 1rem;
}