.svg_icons {
    display:flex;
    width: auto;
    text-align: center;
    justify-content: center;
    transform: scale(1.8);
    color: var(--mui-palette-analogous-dark);
}

.svg_icons_tiny {
    width: auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 0.2rem;
    transform: scale(1.0);
    color: var(--primary-color);
}

.svg_icons_tiny_white {
    width: auto;
    text-align: center;
    justify-content: center;
    transform: scale(0.7);
    color: white;
}

.svg_icons_big {
    display:flex;
    width: auto;
    text-align: center;
    justify-content: center;
    transform: scale(3.8);
    color: var(--primary-color);
}

.svg_icons_med_tr {
    display:flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.9);
    color: var(--primary-color);
    margin: 1rem;
}

.svg_icons_tiny {
    display:flex;
    transform: scale(1.9);
    color: var(--primary-color);
    margin-right: 1.5rem;
}

.svg_icons_med_fr {
    display:flex;
    width: auto;
    text-align: center;
    justify-content: center;
    transform: scale(4.8);
    color: var(--primary-color);

}

.svg_icons_advanced {
    display:flex;
    width: auto;
    text-align: center;
    justify-content: center;
    transform: scale(3.8);
    opacity: 0.7;
    color: white;

}