.layout {
    display: flex;
    flex: 1 1 0%; 
    flex-direction: column; 
    flex-grow: 1;
    vertical-align: baseline;
   }
   
.container {
    display: flex; 
    flex-direction: column; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    max-width: 150px;
}

   