
.study__wrapper {
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
.study__container {
  background-color: white;
  border-radius: 0.8rem;
}

.study__grid {
  display: grid;
  @media (min-width: 640px) { 
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
   }
}

.study_card__container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  padding: 0.75rem;
  background-color: darkgray;
  border-radius: 0.8rem;  
}

.study_card__illustration > img {
  display:block;
  max-width: 32rem;
  max-height: 32rem;
  border-top-left-radius: 0.0rem;
  border-bottom-left-radius: 0.0rem;
  align-items: center;
  justify-content: center; 
}

.study_card__illustration {
  display:flex;
  align-items: center;
  justify-content: center; 
}

.study_card__details{
  padding: 2.3rem;
}

.study_card__title{
  font-family : var(--primary-font);
  font-size: 2.8rem;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.study_card__title__fr{
  font-family: var(--serif-primary-font);
  text-transform: none;
  color: var(--secondary-color);
  font-weight: 500;
}

.study_card__title__translated{
  font-family: var(--serif-primary-font);
  text-transform: none;   
  color: var(--primary-color);
  font-weight: 400;
  font-size: 2.0rem;
}

.study_card__summary {

}
.study_card__summary__translated {
  max-width: 32rem;
  font-family: var(--serif-primary-font);
  text-transform: none;   
  color: var(--alt-primary-color);
  font-weight: 200;
  font-size: 1.1rem;
}

.study__phrase__grid__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.6rem 1rem 1rem;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* 2. shadow ring 👇 */
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    /* 3. multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);  
    border-radius: 12px;
}

.study__phrase__grid__sidebar {
  display: flex;
  flex: 1;
  align-self: stretch;
  min-width:8vh;
  max-width:8vh;
  /* 4abebd */ 
  background-color: var(--primary-color);
  color: white;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.1rem 0.7rem;
  border-radius: 12px 0px 0px 12px;
}

.study__phrase__grid__sidebar_item {
  display: flex;
  flex: 1;
  align-self: stretch;
  justify-content: left;
  align-items: start;
  font-family: var(--primary-font);
  font-weight: 200;
  font-size: 3.0rem;  
}

.study__phrase__grid__main_notes{
  font-size: 3.0rem;  
}

.study__phrase__grid__main {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  flex-grow: 1;
}

.study__phrase__flex__fr{
  display: flex;
  align-items: flex-start;
  justify-content: left;
  margin-left: 0.2rem;
  padding:1rem;
  font-family: var(--serif-primary-font);
  font-weight: 400;
  font-size:1.3rem;
}

.study__phrase__flex__tr{
  display: flex;
  align-items: flex-start;
  justify-content: left;
  margin-left: 0.2rem;
  padding:1rem;
  font-family: var(--serif-primary-font);
  font-weight: 400;
  font-size:1.3rem;
  color: var(--primary-color);
}

.media__player {
  margin-right: 1rem;;
}


.study_container button {
  /* background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%); */
  background-color: var(--primary-color);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.study_container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.study_card__go_button {
  display:flex;
  align-items: center;
  justify-content: center;  
}

.study_card__lesson__illustration > img {
  max-width: 80vw;
  align-items: center;
  justify-content: center; 
}

.study_card__lesson__illustration {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; 
}

.study_card__lesson__summary {
  max-width: 32rem;
  font-family: var(--serif-primary-font);
  text-transform: none;   
  color: var(--alt-secondary-color);
  font-weight: 200;
  font-size: 1.1rem;
}

.study__card__phrase {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: solid; 
  border-color: var(--primary-color);
  margin: 2rem;
  padding:5rem;
  font-family: var(--serif-primary-font);
  font-weight: 400;
  font-size:1.3rem;
  min-height : 20vh;
  width:50vw;
  color: var(--secondary-color);
}

.study__container button {
  /* background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%); */
  background-color: var(--primary-color);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 15px;
}

.study__container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex_right {
  display: flex;
  justify-content: center;
}

.study__audio__wrapper {
  display:flex;
  flex-direction: column;
  width:auto;
  text-align:center;
  justify-content: center;
  padding-bottom: 2rem;
}

.icon__audio__wrapper{
  display:flex;
  width:auto;
  text-align:center;
  justify-content: center;
  padding: 2rem;  
}

.text__audio__wrapper{
  display:flex;
  width:auto;
  text-align:center;
  justify-content: center;
  padding: 2rem; 
}